body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.operations,
.numbers,
.utils,
#display {
  margin: 5px;
  gap: 5px;
}

#display {
  border: 1px solid #222831;
  background-color: #bebcbc;
  height: 60px;
}

.container {
  display: flex;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #1b1a17;
  border-radius: 2px;
  user-select: none;
  font-weight: 900;
}

.block:hover {
  filter: brightness(110%);
}

.block:active {
  filter: brightness(120%);
}

#zero {
  flex-grow: 2;
}

.operations {
  display: flex;
  flex-direction: column;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
}

.util {
  background-color: #2666cf;
}

.operation {
  background-color: #ff7e67;
}

.number,
#decimal {
  background-color: #1a9b9e;
}
